/* Import Princess Sofia Font */
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Princess+Sofia&display=swap');

:root {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* This is a temporary solution, plase wrap your text with MUI Typography to standardize text */
* {
  font-family: "Arial" !important;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 390px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.webFont {
  font-family: "Princess Sofia", cursive !important;
}

button {
  font-family: "Arial" !important;
}

button.navBarFont,
.signInFont, .navBarFont {
  font-family: "Lalezar", cursive !important;
}